@import "~variables.scss";
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $default-bg-color;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.loaded {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(/assets/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

.site-wrapper {
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
}

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.inner {
  padding: 15px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
}

.carousel-wrapper::ng-deep carousel-slide img {
  width: 100%;
  height: 100%;
}

.carousel-wrapper::ng-deep .carousel-nav-list__item--current {
    background-color: $accent-color;
}

.cover-container {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  box-sizing: content-box;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

// Portrait mode
@media (min-width: 600px) {
  .cover-container {
    top: 0;
    width: 70%;
  }
  .inner {
    padding: 5px;
  }
}

// Desktops
@media (min-width: 1000px) {
  .cover-container {
    top: 25%;
    width: 700px;
  }
  .inner {
    padding: 15px;
  }
}