<div class='preloader' [@visibilityChanged]="preloaderVisibility">
    <div class='loaded' [hidden]="preloaderHidden">&nbsp;</div>
</div>
<section class="content" [ngClass]="{'content-today' : isToday}">
    <div class="overlay">
        <div class="container center">
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="content-details text-center">
                            <next-party-panel [nextParty]="nextParty" [isToday]="isToday"></next-party-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>