@import "../../variables.scss";

:host {
    color: $main-font-color;
    text-align: center;
    padding: 20px;
    display: block;
}

:host .next-party-panel-today__label {
    font-weight: bold;
    margin: 25px 0;
}

:host .atc-container {
    margin: 10px 0;
}

@media only screen and (min-width: 1024px) {
    :host {
        padding: 20px;
        padding-bottom: 40px;
    }
}