@import "~variables.scss";

.next-party-panel__date {
    font-weight: bold;    
    text-transform: uppercase;
}

.next-party-panel {    
    color: #b7b7b7;
}

.next-party-panel-today__label {
    color: $accent-color;
    font-weight: bold;    
}

.addtocalendar {
    margin-top: 10px;
    margin-bottom: 20px;
}
