@import "~variables.scss";

.next-party-countdown-days {
    text-align: center;
    text-transform: uppercase;
}

.next-party-countdown-time {
    text-align: center;
}

.next-party-countdown-time__seconds {
    color: $accent-color;
}