@import '../../../variables.scss';

:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host .unit-container {
    width: 25%;
    max-width: 160px;
}

:host .unit-container p {
    margin: 0;
}

:host .unit-container p.unit {
    margin-bottom: 5px;
}