@import "variables.scss";

.large {
  font-size: 18px;
}

.extra-large {
  font-size: 50px;
}

.with-color-change {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: $third-color;
  }

  50% {
    color: $second-color;
  }

  100% {
    color: $third-color;
  }
}

@media (min-width: 1200px) {
  .large {
    font-size: 32px;
  }

  .extra-large {
    font-size: 70px;
  }
}